.App {
  text-align: center;
}

body {
margin: 0;
padding: 0;
font-family: 'sans-serif'
}

.board{
  width: 31rem;
  height: 31rem;
  margin: auto;
  border: 1px soid black;
  display: flex;
  flex-wrap: wrap;
}

.square{
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  margin: auto;
}

.square:hover{
  background-color: lightblue;
}

.play{
padding-left: 20px;
font-family:'sans-serif';
font-size: 3rem;
font-weight: bolder;
}